body {
  background: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: black;
}
.well {
  /*background-color:*/
  display: block;
  width: 400px;
}
